.DS_Store
node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/package-lock.json
.env.ly

test.js

local
.env.ly-client

############  忽略内部版本敏感信息（如环境变量、品牌LOGO等） start ############
.env.dev
.env.demo
.env.client
.env.development
.env.local
.env.prod
.env.test
.env.pre
package.json
.yarnrc

src/assets/images/logo.png
src/assets/images/logo.svg
src/assets/images/logo-mini.svg
public/favicon.ico
src/utils/feedback.ts


/frontend-config
/config
README.md
############  忽略内部版本敏感信息（如环境变量、品牌LOGO等） end ############

*.sh

