.DS_Store
node_modules
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/package-lock.json

test.js

local

############  忽略内部版本敏感信息（如环境变量、品牌LOGO等） start ############
.env.dev
.env.demo
.env.client
.env.*

package.json
.yarnrc

/.app.*.js
