@import './antd-variables.less';
@import './variables.less';

.ant-notification-notice-message {
    word-break: break-all;
}
.ant-spin-nested-loading {
    height: 100%;
    .ant-spin-container {
        height: 100%;
    }
}
.ant-btn-link {
    color: @primary-color;
}
.ant-input[disabled] {
    color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
.ant-select-disabled .ant-select-selection-item {
    color: rgba(0, 0, 0, 0.45);
    cursor: default;
}

.ant-form-item.dp-form-item-no-bottom-space {
    margin-bottom: 0px;
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
    background-color: @itemSelectedBackground;
}

.ant-pagination-total-text {
    display: inline-block;
    height: 32px;
    margin-right: 20px;
    line-height: 30px;
    vertical-align: middle;
}

.ant-empty.dp-empty-no-margin {
    margin: 0px !important;
    padding: 32px 0 !important;
}

.ant-table-wrapper.dp-small-table {
    th,td {
        padding: 8px;
    }
}

.ant-modal-wrap.dp-modal-confirm {
    .ant-modal {
        .ant-modal-content {
            .ant-modal-header {

            }
            .ant-modal-body {
                padding: 16px 36px 36px 36px;
            }
        }
    }
}

/** set container height to 100% */
.ant-drawer.dp-drawer-full-height {
    .ant-drawer-body {
        height: calc(100% - 55px);
        padding: 0 16px;
    }
}

.ant-drawer-close {
    height: 48px;
    line-height: 48px;
}

.ant-card.dp-card-full-height {
    .ant-card-head {
        height: 52px;
    }
    .ant-card-body {
        height: calc(100% - 52px);
        overflow: auto;
    }
}
.ant-tabs.dp-tabs-small-gap .ant-tabs-tab {
    margin-left: 2px;
    &:last-child {
        color: #fc5531;
    }
}
.ant-tabs.dp-tabs-full-height{
    height: 100%;
    .ant-tabs-bar.ant-tabs-top-bar {
        height: 48px;
        margin-bottom: 0px;

        .ant-tabs-tab {
            margin-right: 5px;
        }
    }
    .ant-tabs-content {
        height: calc(100% - 48px);
        .ant-tabs-tabpane-active {
            height: 100%;
        }
    }
}

@supports not (scrollbar-width: thin) {
    /* 滚动条 */
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background: transparent;
        border-radius: 5px;
    }
    /* 滚动条两端按钮 */
    ::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    /* 外层轨道 */
    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }
    /* 内层轨道，它会覆盖外层轨道的样式 */
    ::-webkit-scrollbar-track-piece {
        width: 2px;
        margin: 0 -2px 0;
    }
    /* 滑块 */
    ::-webkit-scrollbar-thumb {
        background-color: rgb(230, 233, 236);
        min-height: 60px;
        min-width: 60px;
        border-radius: 2px;
    }
    /* 纵向滑块悬浮 */
    ::-webkit-scrollbar-thumb:vertical:hover {
        background-color: rgb(230, 233, 236);
    }
    /* 横向滑块悬浮 */
    ::-webkit-scrollbar-thumb:horizontal:hover {
        background-color: rgb(230, 233, 236);
    }
}


.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 12px;
}

@supports (scrollbar-width: thin) {
    * {
        scrollbar-width: thin;
    }
}

.mock-detail-form {
    .ant-table-tbody > tr > td {
        padding: 4px;
        background-color: #fff !important;
    }

    .mock-detail-body,
    .mock-detail-header,
    .mock-detail-query,
    .mock-detail-path,
    .mock-detail-response {
        .ant-select:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
        .ant-select-selector {
            border-color: transparent;
            box-shadow: none;
        }

        .ant-input {
            border-color: transparent;
            box-shadow: none;
        }

        .ant-table-bordered {
            table {
                border-collapse: collapse;
            }
        }
    }

    .ant-tabs-bar {
        border: 0 !important
    }
}

.drawer-exec,
.drawer-exec-history-detail,
.report-drawer-exec-history,
.plan-drawer-exec {
    .ant-drawer-wrapper-body {
        height: 100%;
        display: flex;
        flex-direction: column;

        .ant-drawer-header {
            height: 55px;
        }

        .ant-drawer-body {
            flex: 1;
            height: 0;
            padding: 16px;

            .report-exec-info-main {
                height: calc(100vh - 64px) !important;
                display: flex;
                overflow: hidden;
                flex-direction: column;
                padding-bottom: 16px;
            }

            .scenario-exec-info-main, .report-exec-info-main, .plan-exec-info-main {
                height: 100%;
                display: flex;
                flex-direction: column;

                .log-tree-view {
                    flex: 1;
                    overflow-y: scroll;
                }
            }
        }
    }
}

.ant-form-horizontal {
    .ant-form-item-label {
        width: 82px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;

        label::after {
            color: transparent;
        }

        label:not(.ant-form-item-required)::before {
            display: inline-block;
            margin-right: 4px;
            color: transparent;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
            content: '*';
        }
    }
}

.custom-center-form {
    .ant-row {
        justify-content: center;
    }
}

.inline-form {
    .ant-row {
        margin-bottom: 16px;
    }
}


.ant-table .ant-table-row-indent + .ant-table-row-expand-icon {
    border-radius: 50%;
    color: #18a0fb;
    border-color: currentColor;
}

.ant-message,.ant-notification {
    top: 64px !important;
}

.ant-drawer-wrapper-body {
    overflow: hidden;
}

.submit-bug-modal {
    width: 500px !important;
    .ant-modal-body {
        padding: 0;

        .ant-modal-confirm-content {
            padding: 24px !important;
            font-size: 14px;
            line-height: 1.5715;
            word-wrap: break-word;
        }

        .ant-modal-confirm-title {
            padding: 16px 24px;
            color: rgba(0, 0, 0, 0.65);
            background: #fff;
            border-bottom: 1px solid #f0f0f0;
            border-radius: 2px 2px 0 0;
        }

        .ant-modal-confirm-btns {
            width: 100%;
            padding: 10px 16px;
            text-align: right;
            background: transparent;
            border-top: 1px solid #f0f0f0;
            border-radius: 0 0 2px 2px;
            margin-top: 0 Im !important;
        }

        .ant-select {
            width: 320px;
            margin-left: 20px;
        }
    }
}