
@import "var.less";
.schemaEditor-content {
  width: @content-width;
  height: auto;
  //border: 1px solid @border-color;
  .directoryNode {
    display: block;
    position: relative;
    // overflow: hidden;
  }
  .refNode{
    & > .leafNode,& >.directoryNode,& > .verticalLine{
      opacity: 0.5;
      .action{
        display: none;
      }
      &:hover {
        .action{
          display: none;
        }
      }
    }
  }
  .refNode .refNode{
    & > .leafNode,& >.directoryNode,& > .verticalLine{
      opacity: 1;
      &:hover {
        .action{
          display: none;
        }
      }
    }
  }
  .directoryContainerExpand {
    display: block;
  }

  .directoryContainerFold {
    display: none;
  }

  .directoryContainerFold ~ .verticalLine {
    display: none;
  }

  .leafNode {
    position: relative;
    height: @height;
    line-height: @height;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: @hover-bg-color;
      .action{
        display: block;
      }
      input {
        // background-color: @hover-bg-color;
        //text-decoration: 4px solid underline;
      }
    }
  }

  .directoryText {
    position: relative;
    height: @height;
    line-height: @height;
    display: flex;
    justify-content: space-between;

    &:hover {
      background-color: @hover-bg-color;
      .action{
        display: block;
      }
      input {
        background-color: @hover-bg-color;
      }
    }
  }

  input {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
  }

  .expandIcon, .addIcon {
    cursor: pointer;
    font-size: 12px;
    margin: 0 2px;
  }

  .horizontalLine {
    position: absolute;
    height: 1px;
    background: @border-color;
    top: 16px;
    left: 30px;
    width: 15px;
    z-index: 2;
  }

  .leafNodeHorizontalLine {
    position: absolute;
    height: 1px;
    background: @border-color;
    top: 16px;
    left: 30px;
    width: 30px;
    z-index: 2;
  }

  .leafNodeHorizontalLine ~ .baseInfo{
    margin-left: 16px;
  }

  .horizontalLine ~ .baseInfo{
    //margin-left: -16px;
  }

  .verticalLine {
    position: absolute;
    top: 24px;
    height: calc(100% - 32px);
    width: 1px;
    background: @border-color;
    z-index: 2;
  }

  .baseInfo {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .action {
    display: none;
    width: 150px;
    flex-shrink: 0;
  }

  .extraAction {
    width: 72px;
    margin-right: 8px;
    flex-shrink: 0;
  }
  .add-tag {
    display: inline-block;
    position: relative;
    span {
      display: inline-block;
      min-width: 32px;
      height: 100%;
    }
    input {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      caret-color: #426BF2;
      ::-webkit-input-placeholder {
        color: #aaa;
      }
    }
  }

  .baseInfoSpace{
    display: inline-block;
    margin: 0 2px;
  }

}
.baseInfoKey{
  flex-shrink: 0;
  min-width: 4px;
  height: 16px;
  line-height: 16px;
  &:focus,&:active,&:hover{
    border:none;
    outline: none;
  }
}

.tree-schema-description {
  display: inline-block;
  border: 1px solid transparent;
  background-color: transparent;
  margin-left: 10px;
  max-width: 200px;
  flex: 1;

  .ant-input-affix-wrapper {
    padding: 0;
    padding-left: 6px;
    border: 1px solid transparent !important;

    .ant-input-suffix {
      // display: none;
      opacity: 0;
    }

    &.ant-input-affix-wrapper-disabled {
      cursor: not-allowed;

      input {
        cursor: not-allowed;
      }
    }

    &:not(.ant-input-affix-wrapper-disabled):hover {
      border-color: #4096ff !important;

      .ant-input-suffix {
        // display: flex;
        opacity: 1;
      }
    }
  }

  input {
    background-color: #fff !important;
    padding: 2px;
    box-sizing: border-box;
  }
}

.tree-description-wrapper {
  max-width: 200px;
  flex: 1;
  margin-right: 8px;
}

.schema-desc-popover {
  .ant-input-affix-wrapper {
    border: 1px solid #d9d9d9 !important;
  }
}

.mock-rule-container {
  width: 200px;
  max-width: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .ant-select {
    width: 100%;

    .select-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      .left {
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    
      .right {
        max-width: 80px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .ant-select-selector {
    border: 1px solid transparent !important;

    &:hover {
      border-color: #4096ff !important;
    }
  }

  &.small-mode {
    .ant-select-selector {
      border: 1px solid #d9d9d9 !important;
    }
  }

  .mock-rule-popover-text {
    line-height: 14px;
    display: inline-block;
    height: 14px;
  } 
}

.mock-rule-popover {
  .ant-select {
    width: 200px;
  }
}
